.itemToDo p {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.itemToDo p.checked {
  text-decoration: line-through;
}

.itemToDo p::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  position: absolute;
  left: 0;
}
.itemToDo p.checked::before {
  content: "🤙";
}
