@import './_variables.scss';

.itemToDo {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba($greyLight, 0.5);
    margin-bottom: 15px;
    position: relative;
    .item {
        span {
            width: 12px;
            height: 12px;
            border: 1px solid $greyLight;
            position: absolute;
            left: 0;
            top: 2px;
            border-radius: 50%;
            padding: 2px;
            cursor: pointer;
            &.checked {
                
            }
        }
    }
    &.checked {
        span {
            text-decoration: line-through;
            color: $green;
            border: 1px solid $green;
            background-image: url(./check.svg);
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $green;
            background-repeat: no-repeat;
            background-position: center;
        }
        #inputValue {
            text-decoration: line-through;
            color: $green;
        }
    }
    p {
        padding-left: 30px;
        color: $greyLight;
        margin: 0;
        &.onChange {
            opacity: 0;
        }
    }
    &.deleted {
        display: none;
    }
    #inputValue {
        &.show {
            opacity: 1;
            pointer-events: inherit;
        }
        &.hide {
            opacity: 0;
            pointer-events: none;
            position: absolute;
        }
    }
    #itemChange {
        background-color: inherit;
        border: none;
        color: white;
        font-size: 16px;
        margin-left: 30px;
        opacity: 0;
        top: 0;
        position: absolute;
        width: 90%;
        pointer-events: none;
        &.show {
            opacity: 1;
            pointer-events: inherit;
            position: inherit;
        }
    }
    .deletePicto {
        position: absolute;
        right: 0;
        top: 5px;
        cursor: pointer;
    }
    .modifyPicto {
        position: absolute;
        right: 35px;
        top: 5px;
        cursor: pointer;
    }
}
  